.canvas {
  position: absolute;
  background: lightgrey;
  z-index: 0;
  top: 0;
  left: 0;
}

.pause {
  position: absolute;
  z-index: 50;
  top: 50px;
  left: 50vw;
  font-family: Helvetica, Arial, sans-serif;
  /*background: rgba(200,200,200,0.7);*/
  /*border: 2px solid black;*/
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 40px;
  top: 40px;
  width: 400px;
  // height: 600px;
  background: rgba(200,200,200,0.7);
  border: 2px solid black;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.infobar {
  text-align: center;
  z-index: 50;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 300px;
  background: rgba(200,200,200,0.7);
  border: 2px solid black;
}

.helpheader {
  cursor:  pointer;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 500px;
}

.helptext {
  text-align: left;
  padding: 10px;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  cursor: pointer;
  width: 399px;
}

input {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
	cursor: pointer;
}
