.canvas {
  position: absolute;
  /*background: black;*/
  background: rgb(0,0,25);
  z-index: 0;
  top: 0;
  left: 0;
}

.pause {
  position: absolute;
  z-index: 50;
  top: 50px;
  left: 50vw;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  /*background: rgba(200,200,200,0.7);*/
  /*border: 2px solid black;*/
}

.head {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 100;
  left: 40px;
  top: 40px;
  width: 400px;
  // height: 600px;
  background: rgba(30,30,30,0.9);
  border: 2px solid black;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.infobar {
  text-align: center;
  z-index: 50;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 350px;
  background: rgba(30,30,30,0.8);
  border: 2px solid black;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
}

.infobar:hover {
  background: rgba(30,30,30,1);
}

.helpheader {
  cursor:  pointer;
  color: white;
}

.helpheader:hover {
  transform: scale(1.05);
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 500px;
}

.helptext {
  text-align: left;
  padding: 10px;
  color: white;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  cursor: pointer;
  width: 399px;
}

.header:hover {
  transform: scale(1.1);
}

input {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
	cursor: pointer;
}

.fa {
  padding-left: 20px;
}

.footer {
  z-index: 50;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.links.fa {
  color: white;
  font-size: 30px;
}

a {
  text-decoration: none;
}

.links.fa:hover {
  transform: scale(1.1);
}

.birdBack {
  background: url('https://www.walldevil.com/wallpapers/a56/lake-mountain-sky-night.jpg');
  background-size: stretch;
}

.flappy {
  background: url('http://cdn.pcwallart.com/images/flappy-bird-pipes-2-wallpaper-5.jpg');
  background-size: cover;
}
